body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: url('/imagenes/pexels-markus-winkler-3639873.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.brand-logo {
    width: 280px;
    height: auto;
    margin-bottom: 20px;
    display: block;
   }

.form-box {
    position: relative;
    width: 90%; /* Para ser responsivo */
    max-width: 400px; /* Ancho máximo en pantallas grandes */
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-box h1 {
    color: #fff;
    align-self: center;
}

ion-icon {
    color: #ffffff;
    font-size: 1.5em;
}

.inputbox {
    display: flex;
    align-items: center;
    gap: 10px;
}

.inputbox input {
    flex: 1;
    height: 50px;
    background: transparent;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    outline: none;
    font-size: 1em;
    padding-left: 5px;
    color: #5b005c;
}

button {
    cursor: pointer;
    background-color: #d82929;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d82929;
}

.register p {
    text-align: center;
    color: #d70000;
    border-color: black;
}

.register p a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
}

.inputbox input::placeholder,
.inputbox input:-ms-input-placeholder,
.inputbox input::-moz-placeholder {
    color: #ffffff;
    opacity: 1;
}

/* Estilos responsivos */
@media (max-width: 480px) {
    .form-box {
        width: 100%;
        padding: 10px;
    }

    ion-icon {
        font-size: 1.2em;
    }

    .inputbox input {
        font-size: 0.9em;
    }
}
